node_modules/
.pnpm-store/
signaling-server/
mobile-app/
dist/
*.jks
*.keystore
App Key/
# Local build artifacts
release/
setup.bat
setup.sh
thumb.png
softcam
steps.md
electron-app-old-arch/
App-old
APP
.vs
.vscode
.gitignore
avcodec-62.dll
avdevice-62.dll
avfilter-11.dll
avformat-62.dll
avutil-60.dll
swresample-6.dll
swscale-9.dll
Adobe Premiere Pro Auto-Save
Adobe Premiere Pro Audio Previews
export-1.mp4
2026-08-09 02-44-47.mp4
Sample Video.prproj
